<div class="rental">
    <img src={{imageUrl}} alt="rental">
    <h2>{{headline}}</h2>
    {{!-- <p>{{cityProvince}}</p> --}}
    <p>Sleeps {{numSleeps}} . {{numBedrooms}} BR . {{numBathrooms}} BA &nbsp;<b>C${{pricePerNight}}</b></p>
</div>